/* More frequent comments throughout css */
/* Leverage percentage widths over grid for 
less complex layouts*/

/* entire page */

* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #C2B2B4;
}

/* page head */
header {
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

h1 {
  color: #FFF;
  letter-spacing: 2px
}

.foto-finder-logo {
  width: 40px;
}

/* search input */
.search-form {
  display: flex;
  height: 4vh;
  padding-top: 5px;
}

#search-input {
  border-radius: 3px 0px 0px 3px;
  border: none;
  color: #8A8494;
  outline-color: #bfb3b4;
  padding: 5px;
}

.search-button {
  background-color: #C2B2B4;
  border-radius: 0px 3px 3px 0px;
  border: none;
}

.fa-search {
  color: #FFFFFF;
  padding: 6px;
  font-size: 13px;
}

/* main section */
main {
  background-color: #3E2A35;
}

/* title and caption inputs */
.foto-form {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}

label {
  color: #bfb3b4;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.title-input,
.caption-input {
  height: 35px;
  border: solid 1px #d4d2d8;
  margin-bottom: 18px;
  margin-top: 5px;
  outline-color: #bfb3b4;
  width: 100%;
}

/* choose file button */
#choose-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.choose-file-button {
  background-color: #5B4447;
  border-color: #5B4447;
  color: #FFF;
  height: 4.5vh;
  letter-spacing: 1px;
  width: 100%;
  font-size: 12px;
}

.choose-file-div {
  background-color: #5B4447;
  padding: 1% 0% 1% 45%;
}

.choose-file-button:disabled {
  background-color: #808080;
}

/* favorites & add to album buttons */
.buttons {
  background-color: #5B4447;
  border-color: #5B4447;
  color: #FFF;
  height: 35px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.buttons:hover,
.choose-file-button:hover {
  cursor: pointer;
}

.favorites-and-add-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.favorites-button,
.add-to-album-button {
  width: 42%;
}

/* uploaded cards */
article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card-wrapper {
  background-color: white;
  height: auto;
  width: 220px;
  border-radius: 2px;
  border-width: 2px;
  margin: 10px;
}

h4 {
  padding: 8px;
  font-weight: 500;
  height: 23px;
}

.uploaded-image {
  object-fit: cover;
  width: 100%;
  height: 140px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background-color: #5B4447;
  height: 56px;
}

.delete-icon,
.favorite-icon {
  height: 30px;
  padding: 12px;
}

.delete-icon:hover,
.favorite-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .card {
    margin: 0px 40px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 519px) {
  header {
    flex-direction: column;
  }
}


